﻿<!Doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device=width" />
    <title>SPA</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/lib/jquery-1.11.3.min.js")
    @Scripts.Render("~/Scripts/lib/bootstrap.min.js")
    @Scripts.Render("~/Scripts/lib/angular.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/Items.Controller.js")
    @Scripts.Render("~/Scripts/Users.Controller.js")
</head>
<body>


    @*<div ng-controller="Items.Controller as itemsCtrl">
        <input type="text" ng-model="itemsCtrl.filter" />
        Order by:
            <select ng-model="itemsCtrl.orderBy">
                <option value="Name">Name</option>
                <option value="Price">Price</option>
            </select>
        <div ng-repeat="item in itemsCtrl.items | filter:itemsCtrl.filter | orderBy:itemsCtrl.orderBy">
            <p>{{ item.Name }}</p>
            <label>{{ itemsCtrl.formatPrice(item) }}</label>
            <button class="btn btn-primary" ng-click="itemsCtrl.showDescription(item)">Show Description</button>
        </div>
    </div>*@

    <div ng-controller="Users.Controller">
        <div ng-repeat="user in users">
            <p>{{ user.Name }}</p>
            <label>{{ user.LastName }}</label>
            @*<button class="btn btn-primary" ng-click="itemsCtrl.showDescription(item)">Show Description</button>*@
        </div>

    </div>
</body>
</html>
